<ion-header>
    <ion-navbar>
				<button ion-button menuToggle>
					<ion-icon name="menu"></ion-icon>
				</button>
				<ion-title>Estudiante</ion-title>
			</ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
      <ion-item>
        <label>
      {{ nombreAlumno }}
        </label>
      </ion-item>

    <ion-grid> 
      <ion-row justify-content-center> 
        <ion-col align-self: center style="background:#7b81c9">
          Ramos Cursados
        </ion-col>
        <ion-col align-self: center style="background:#7dd689">
          20
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self: center style="background:#7b81c9">
          Promedio
        </ion-col>
        <ion-col align-self: center style="background:#7dd689">
          4.7
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="background:#7b81c9">
          Desviacion Estandar
        </ion-col>
        <ion-col align-self: center style="background:#7dd689">
          0.8
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self: center style="background:#7b81c9">
          Ranking
        </ion-col>
        <ion-col align-self: center style="background:#7dd689">
          27
        </ion-col>
      </ion-row>
        
    </ion-grid>
  
                <div style="display: block">
                  <canvas baseChart
                              [data]="pieChartData"
                              [labels]="pieChartLabels"
                              [chartType]="pieChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                </div>
  </ion-content>
  