<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content id="side-menu21">

    <ion-list id="menu-list1">
      <div *ngFor="let page of pages">
        <ion-item color="none" menuClose="" (click)="gopage(page)">

          {{ page.title }}
        </ion-item>

      </div>

      <ion-item color="none" menuClose="" (click)="logout()">
        Cerrar sesion
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>