<ion-header>
    <ion-navbar>
				<button ion-button menuToggle>
					<ion-icon name="menu"></ion-icon>
				</button>
				<ion-title>Profesor</ion-title>
			</ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h1> {{ user}} </h1>
  
    <ion-grid> 
      <ion-row justify-content-center> 
        <ion-col align-self: center style="background:#333fff">
          Ramos Impartidos
        </ion-col>
        <ion-col align-self: center style="background:#4ebf5d">
          3
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self: center style="background:#333fff">
          Promedio
        </ion-col>
        <ion-col align-self: center style="background:#4ebf5d">
          5.2
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="background:#333fff">
          Desviacion Estandar
        </ion-col>
        <ion-col align-self: center style="background:#4ebf5d">
          0.5
        </ion-col>
      </ion-row>
    </ion-grid>
  
                <div style="display: block">
                  <canvas baseChart
                              [data]="pieChartData"
                              [labels]="pieChartLabels"
                              [chartType]="pieChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                </div>
  </ion-content>
  