<ion-header>
    <ion-navbar>
				<button ion-button menuToggle>
					<ion-icon name="menu"></ion-icon>
				</button>
				<ion-title>Grafico Alumno</ion-title>
			</ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <div style="display: block">
          <canvas baseChart
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
        </div>
  </ion-content>
  