<ion-header>
    <ion-navbar>
				<button ion-button menuToggle>
					<ion-icon name="menu"></ion-icon>
				</button>
				<ion-title>Restablecer Contraseña</ion-title>
			</ion-navbar>
  </ion-header>
  
<ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
  
        <div text-center>
          
          <h4>Ingreso Plataforma</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Rut"></ion-input>
          </ion-item>
        </div>

        <div padding>
          <button ion-button expand="block">Restablecer Contraseña</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>